body {
  margin: 8px;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Ephesis", cursive, "Kurale", serif;
  color: #044002;
  font-size: 5cqw;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.8cqw;
  color: #aebbad;
}

p {
  margin: 0;
  padding: 0;
}

.forsidetekst {
  margin: 10px 0 0 36%;
}

.h2_forside {
  padding: 0 0 0 41%;
  margin: 0;
}

body {
  background-color: #f9f2e1;
}

/* background-color: #044002; */

.video {
  width: 48%;
  height: auto;
  aspect-ratio: 16/9;
  padding-bottom: 20px;
}

.iframe {
  width: 48%;
  height: auto;
  aspect-ratio: 16/9;
  padding: 20px 0px;
}

.grid_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 3 / span 2;
  gap: 8px;
  padding: 30px 0 0 0px;
}

.videoer {
  padding-left: 3%;
}

.video_tekst {
  padding-left: 42%;
}

footer {
  margin: 5px 0;
  font-family: "Ephesis", cursive, "Kurale", serif;
  color: #044002;
  font-size: 2.5cqw;
  padding-left: 44%;
  background-color: rgb(205, 203, 166);
}
