h1 {
  font-family: "Ephesis", cursive, "Kurale", serif;
  color: #044002;
  font-size: 5rem;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #aebbad;
}

body {
  background-color: #f9f2e1;
}

/* background-color: #044002; */

.video {
  width: 45%;
  height: auto;
  aspect-ratio: 16/9;
  display: block;
  padding-bottom: 20px;
}

.iframe {
  width: 45%;
  height: auto;
  aspect-ratio: 16/9;
}
